# Configurações do PostgreSQL
POSTGRES_HOST=postgres-cybersecurity
POSTGRES_PORT=5432
POSTGRES_DB=cybersecurity
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_segura

# Configurações do Metabase
METABASE_PORT=3000